@model GymManagement.Models.WalkIn

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <div class="card shadow-lg mx-auto" style="max-width: 600px;">
        <div class="card-header bg-danger text-white text-center">
            <h4>Delete Confirmation</h4>
        </div>
        <div class="card-body">
            <h5 class="text-center text-danger mb-4">Are you sure you want to delete this record?</h5>

            <dl class="row">
                <dt class="col-sm-4 fw-bold">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-4 fw-bold">
                    @Html.DisplayNameFor(model => model.Contact)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Contact)
                </dd>
                <dt class="col-sm-4 fw-bold">
                    @Html.DisplayNameFor(model => model.VisitDate)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.VisitDate)
                </dd>
                <dt class="col-sm-4 fw-bold">
                    @Html.DisplayNameFor(model => model.Purpose)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Purpose)
                </dd>
            </dl>

            <form asp-action="Delete" class="text-center">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger w-50">Delete</button>
                <a asp-action="Index" class="btn btn-secondary w-50 mt-2">Back to List</a>
            </form>
        </div>
    </div>
</div>
